*{
    margin:0;
    padding:0;
}
.icon{
    object-fit:contain;
    height:50px;
    width:50px;
}
#admin-addition{
    display:flex;
    justify-content:center;
    align-items:center;
}
#unit-component{
    margin-left:auto;
    margin-right:auto;
    width:fit-content;
    background-image:radial-gradient( black , transparent)
}
